/*Global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

h2{
    text-align: left;
    margin-top: 50px;
    font-family: cursive;
}

h3{
    margin-top: 50px;
    margin-bottom: 10px;
}
p{
    line-height: 1.5;
    text-align: left;
}
img{
    max-width: 100%;
}

/* Header */

.site-init{
    text-align: center;
    color: white;
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 300px;
    
}
.site-init2{
    text-align: center;
    color: white;
    background-image: url(./img/destacada3.jpg);
    background-size: cover;
    height: 300px;
}
.site-init3{
    text-align: center;
    color: white;
    background-image: url(./img/highlight.jpg);
    background-size: cover;
    height: 300px;
    
}
.site-init4{
    text-align: center;
    color: white;
    background-image: url(./img/announcement4.jpg);
    background-size: cover;
    height: 500px;
    
}
.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
@media(max-width:768px){
    .bar{
        flex-direction: column;
        height: 180px;
    }
    .menu a{
        display: block;
        font-size: 18px;
        margin-bottom: 20px;
    }
}
.bar2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px; 
}
.menu a{
    color: white;
    margin-right: 20px;
}
.menu2 a{
    color: white;
    margin-right: 20px;
}

/* Utilities */
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.about-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    padding-bottom: 20px;
    margin-top: 20px;
}
.mission-container{
    text-align: left;
    font-family: cursive;
    font-size: 20px;
    padding-bottom: 20px;
}

.main-flex-container{
    display: flex;
    flex-direction: row;
}

@media(max-width:768px){
    .main-flex-container{
        flex-direction: column;
    }  
    .container{
        width: 90%;
    }
}

.btn-details{
    display: block;
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

.btn-details2{
    display: block;
    background-color: teal;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
/* more about us */
@media(max-width:768px){
    .more-about-item{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .more-about-item img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .more-about-item h3{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Houses and Penthouses */
.houses-item{
    background-color: #dedede; 
    margin-right: 10px;
    margin-bottom: 20px;
}   

@media(max-width:768px){
    .houses-item{
        margin-bottom: 20px;
    }
}
.houses-item-text{
    padding: 10px;
}

.header-para{
    text-align: center;
    padding-top: 50px;
}
.houses-item-text p.description{
    font-size: 14px;
    
}
.houses-item-text p.price{
    color: green;
    font-weight: bold;
    font-size: 14px;
}
.details-container{
    padding-left: 20px;
    list-style: none;
}
.flex-icons{
    display: flex;
    justify-content: space-around;
}
.flex-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-contact-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}    

.flex-icons img{
    margin-right: 10px;
}
.form-container{
    background-color: #dedede;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.fieldset{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}
.contact-fieldset{
    padding: 100px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}
legend{
    font-size: 16px;
}
.input-container{
    margin-top: 10px;
    display: flex;
}
.input-container label{
    /* display: inline-block; */
    width: 100px;
}
.input-container input, 
.input-container textarea,
.input-container select{
    width: 70%;
    padding: 3px;
}

.para-container{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.para1-container{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #dedede;
}
.footer-flex-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.privacy{
    font-weight: bold;
    text-decoration: underline;
    padding-left: 10px;
}
.zillow{
    font-weight: bold;
    text-decoration: underline;
}
.fa-brands{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    color: black;
}
.main-content{
    display: flex;
    justify-content: space-around;
}
.blog-container{
    width: 70%;
    margin-right: 20px;
}
.blog-btn{
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;

}
.btn-read{
    background-color: rgb(103, 130, 130);
}
.blog h2{
    font-weight: bold;
    font-family: cursive;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}
.blog-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.houses-item-text p.description2{
    font-size: 18px;
    font-family: cursive;
    text-align: center;
}